{% extends "Blog/index.html" %}
{% load static %}

{% block title %}<title>Change password</title>{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'Blog/css/user_forms.css' %}">{% endblock %}


{% block contact %}

<div class="box-signup">
    <p>Change your password</p>
    
    {% for message in messages %}
        <p class="message" >{{message}}</p>
    {% endfor %}

    <form method="POST">
        
        {% csrf_token %}
        
        <label>current Password:</label>
        <div class="input-icons">
            <i class="fas fa-key icon"></i>
            {{ form.old_password}}
        </div>

        <label>New Password:</label>
        <div class="input-icons">
            <i class="fas fa-key icon"></i>
            {{ form.new_password1}}
        </div>
        
        
        <label> Confirm New Password:</label>
        <div class="input-icons">
            <i class="fas fa-key icon"></i>
            {{ form.new_password2}}
        </div>
        

        <button class="btn" type="submit">Save changes</button>
      </form>

</div>



<script>
    let form_fields = document.getElementsByTagName('input');


    for(var field in form_fields){
        form_fields[field].className += 'input-field'
    }
    
</script>

{% endblock %}





