{% extends "Blog/index.html" %}
{% load static %}

{% block title %}<title>Edit profile</title>{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'Blog/css/user_forms.css' %}">{% endblock %}


{% block contact %}


<div class="errors-edit">
  {{user_form.errors}}
  {{profile_form.errors}}
  
</div>

<div class="contant">
<p class="title">Edit your Profile Information</p>

<div class="edit-container">
<div class="left">
<form class="edit-form" method="POST" enctype="multipart/form-data">
{% csrf_token %}

<div class="imgs">
  {% if user.profile.profile_pic  %}
  <img class="profile-img" src="{{user.profile.profile_pic.url}}" alt="">
  {% else %}
  <img class="profile-img" src="/media/uplodes/profiles/default-profile-pic.jpg" alt="">
  {% endif %}
  
  <div class="edit-img">
    <p class="pro-pic-text">change profile picture </p> <br>
    {{profile_form.profile_pic}}
  </div>
</div>    



  <div class="bio-area">bio <br> {{profile_form.bio}}</div>
  <div class="socials-edit">
    <div class="input-icons">
      <i class="fab fa-instagram icon"></i>
      {{profile_form.instagram_url}}
    </div>
    
    <div class="input-icons">
      <i class="fab fa-twitter icon"></i>
      {{profile_form.twitter_url}}
    </div>
    
    <div class="input-icons">
      <i class="fab fa-linkedin icon"></i>
      {{profile_form.linkedin_url}}
    </div>
    
    <div class="input-icons">
      <i class="fas fa-globe icon"></i>
      {{profile_form.website_url}}
    </div>
  </div> <!--end social-edit-->

</div> <!-- end left -->


<div class="right">

  <label>Username:</label>
  <div class="input-icons">
      <i class="fas fa-user-circle icon"></i>
    {{user_form.username}}
  </div>

  <label>Name:</label>
  <div class="input-icons">
      <i class="far fa-user icon"></i>
    {{user_form.first_name}}
  </div>

  <label>Last Name:</label>
  <div class="input-icons">
      <i class="fa fa-user icon">
      </i>
    {{user_form.last_name}}
  </div>
  
  <label>Email:</label>
  <div class="input-icons">
      <i class="fa fa-envelope icon">
      </i>
    {{user_form.email}}
  </div>
  
  <div class="edit-btns">
    <a class="pass-change-btn" href="{% url 'change_password' %} "> Change Password <i class="fas fa-edit"></i></a>
    
  <button class="btn profile-edit-btn" type="submit">Update</button>
</div> <!-- end edit btns -->

</div> <!-- end right -->
  
</form>
</div> <!--end edit-container -->
</div> <!-- end contant -->



<script>
    let form_fields = document.getElementsByTagName('input');
    for(var field in form_fields){
        form_fields[field].className += 'input-field'
    }
    
</script>

{% endblock %}





