{% extends "Blog/index.html" %}
{% load static %}

{% block title %}<title>Log In</title>{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'Blog/css/user_forms.css' %}">{% endblock %}


{% block contact %}

<div class="box-login">
    <p>Log In to your Account</p>
    <form action="" method="post">
        {% csrf_token %}
        
        <div class="form-group ">
            <input class="form-field" type="text" name="username" id="" placeholder="Username">
            <input class="form-field" type="password" name="password" id="" placeholder="Password">
    
            <div class="errors-login">
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div> 
            <button class="btn" type="submit">Log In</button>
        </div>
        
        
    </form>
    <small>Don’t Have any account?<a href="{% url 'register' %}"> Sign Up </a></small>
    
</div>

{% endblock %}



