{% extends "Blog/index.html" %}
{% load static %}

{% block title %}<title>Sign Up</title>{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'Blog/css/user_forms.css' %}">{% endblock %}


{% block contact %}

<div class="box-signup">
    <p>Join us Today</p>
<form action="" method="POST">
    {% csrf_token %}
  
    <div class="form-group">
        {{form.username}}
        {{form.first_name}}
        {{form.email}}
        {{form.password1}}
        {{form.password2}}

        <div class="errors-signup">
          {{form.errors}}
        </div>
            
        <button class="btn" type="submit">Sign Up</button>

    </div>
    
</form>
<small>Already Have an account? <a href="{% url 'login' %}">Log in</a></small>
</div>



<script>
    let form_fields = document.getElementsByTagName('input');
    form_fields[1].placeholder = 'Username';
    form_fields[2].placeholder = 'Name';
    form_fields[3].placeholder = 'Email';
    form_fields[4].placeholder = 'password';
    form_fields[5].placeholder = 'Confrim password';

    for(var field in form_fields){
        form_fields[field].className += 'form-field'
    }
    
</script>

{% endblock %}





