{% extends "Blog/index.html" %}
{% load static %}

{% block title %}<title>Edit post</title>{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'Blog/css/post-forms.css' %}">{% endblock %}



{% block contact %}
<div class="contant">
    <h2>Edit your Post</h2>
    <form class="new-post-form" action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}
        
        {{form.title}}
        {{form.media}}
        {{form.body}}
        <div class="form-row">
        <small class="choose-image">Edit your post's image if you want:</small>
        {{form.image}}
        <small class="choose-category">Change the category:</small>
        {{form.category}}
        </div>
        <input class="btn" type="submit" value="Update">    
    </form>
</div>

<script>
    let title = document.getElementsByTagName('input');
    title[1].placeholder = 'Title';
    title[1].className += 'new-post-title'
    
    let post_body = document.getElementsByTagName('textarea');
    post_body[0].placeholder = 'Write your post here ...'
    post_body[0].className += 'new-post-body'

    
    
</script>
</div>
{% endblock %}





